<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label 'First Name' %> <br />
    <%= f.text_field :first_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Last Name' %><br />
    <%= f.text_field :last_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Screen Name' %> <i>(this is what others will see on the leaderboard etc)</i><br />
    <%= f.text_field :screen_name, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label 'Stava ID' %> <i>(should be a number, probably around 8 digits long and can be found in 'my profile' in strava)</i><br />
    <%= f.text_field :strava_id, autocomplete: "off" %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
