<%= form_with(model: run, local: true) do |form| %>
  <% if run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(run.errors.count, "error") %> prohibited this run from being saved:</h2>

      <ul>
      <% run.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :distance %>
    <%= form.number_field :distance, id: :run_distance %>
  </div>

  <div class="field" id='units_miles_or_kilometers'>
    <%= form.select :units, ['miles', 'kilometers'] %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date, id: :run_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  $(document).ready(function () {
    units = $("#units_miles_or_kilometers :selected").text();
    value = $('#run_distance').val();

    if( units == 'kilometers') {
      $('#run_distance').val(parseInt(value)/1000);
    } else if (units == 'miles'){
      $('#run_distance').val(parseInt(value)/1609);
    };

    $('#units_miles_or_kilometers').change('click', function(e){
      console.log('A CLICK !!!!');

      var selectedUnits = $(this).find(':selected').val();
      var value = $('#run_distance').val();

      if( selectedUnits == 'kilometers') {
        $('#run_distance').val(parseFloat(value)*1.60934);
      } else if (selectedUnits == 'miles'){
        $('#run_distance').val(parseFloat(value)/1.60934);
      };
    });
   });
</script>
