<!DOCTYPE html>
<html>
<head>
  <title>Map</title>
</head>
<body>
  <div class='container-fluid'>
    <h3>Welcome to Eastleigh Running Club's Lejog Tracker !!! </h3>
    <h5>Compete for virtual progress from Lands End to John O'Groats by logging your runs and watching your progress.</h5>

    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

    <div class='row'>
      <div class='col-sm-8'>
        <div id='map'>
        <%= react_component("Map") %>
        </div>
      </div>

      <div class = col-sm-4>
        <div class='bg-warning' id='leaderboard-team' >
          <%= render 'map/team_leaderboard' %>
        </div>
        <div class= 'bg-warning' id='leaderboard-individual'>
          <%= render 'map/individual_leaderboard' %>
        </div>
      </div>
    </div>
  </div>

  <script>
  </script>
</body>
</html>
